.rolodex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.arrow {
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  z-index: 10; 
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 50%;
}

.rolodex {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin: 0 10px;
}

.image-container {
  position: relative;
  text-align: center;
}

.rolodex-image {
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  opacity: 0.5;
  margin: 0 5px;
  width: 150px; /* Default width for all images */
  height: 150px; /* Default height for all images */
  object-fit: contain;
}

.rolodex-image.active {
  opacity: 1;
  transform: scale(1.1); /* Slightly larger when active */
  z-index: 2;
}

.blurb {
  margin-top: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8); /* Background for better visibility */
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px; /* You can adjust this based on the amount of text */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -50px; /* Adjust this based on the layout to position the blurb below the image */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
